workflows/daily-news-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 31 19 * * *"
            }
          ]
        }
      },
      "id": "de5abc02-6ef4-4be8-8a58-26c7c801f774",
      "name": "Daily Trigger at 8 AM IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        352
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "sports OR Cricket OR Football"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "pageSize",
              "value": "5"
            },
            {
              "name": "apiKey",
              "value": "8ff3b698285048b0932b836f87a85cec"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c5c9e537-19fc-4268-9ac7-02ba973ef53b",
      "name": "Fetch Sports News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -176,
        256
      ]
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "technology OR AI OR Software"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "pageSize",
              "value": "5"
            },
            {
              "name": "apiKey",
              "value": "8ff3b698285048b0932b836f87a85cec"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "16570526-0a1b-43f5-a652-e55410dac27a",
      "name": "Fetch Tech News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -176,
        448
      ]
    },
    {
      "parameters": {},
      "id": "784f7974-db88-4abf-9fc7-25b799d90d07",
      "name": "Merge News Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        48,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet htmlBody = `<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody { \n  font-family: Arial, sans-serif; \n  line-height: 1.6; \n  color: #333; \n  max-width: 800px; \n  margin: 0 auto; \n  padding: 20px; \n}\nh1 { \n  color: #2c3e50; \n  border-bottom: 3px solid #3498db; \n  padding-bottom: 10px; \n}\nh2.category { \n  color: #e74c3c; \n  margin-top: 40px; \n}\n.article { \n  margin-bottom: 25px; \n  padding: 15px; \n  background-color: #f9f9f9; \n  border-left: 4px solid #3498db; \n}\n.article h3 { \n  color: #2980b9; \n  margin-top: 0; \n  font-size: 18px; \n}\n.article p { \n  margin: 10px 0; \n  color: #555; \n}\n.article a { \n  color: #3498db; \n  text-decoration: none; \n  font-weight: bold; \n}\n.article a:hover { \n  text-decoration: underline; \n}\n</style>\n</head>\n<body>\n<h1>📰 Daily Sports & Tech News</h1>\n`;\n\nlet sportsArticles = [];\nlet techArticles = [];\n\n/**\n * Classify articles safely\n */\nfor (const item of items) {\n  const articles = item.json.articles || [];\n\n  for (const article of articles) {\n    const text = `${article.title || ''} ${article.description || ''}`.toLowerCase();\n\n    // Sports keywords\n    if (\n      text.includes('cricket') ||\n      text.includes('football') ||\n      text.includes('fifa') ||\n      text.includes('match') ||\n      text.includes('league') ||\n      text.includes('sports')\n    ) {\n      sportsArticles.push(article);\n    }\n\n    // Tech keywords\n    else if (\n      text.includes('ai') ||\n      text.includes('apple') ||\n      text.includes('ios') ||\n      text.includes('android') ||\n      text.includes('software') ||\n      text.includes('chip') ||\n      text.includes('technology')\n    ) {\n      techArticles.push(article);\n    }\n  }\n}\n\n/**\n * Render Sports News\n */\nif (sportsArticles.length > 0) {\n  htmlBody += '<h2 class=\"category\">⚽ Sports News</h2>';\n  for (const article of sportsArticles.slice(0, 5)) {\n    htmlBody += `\n      <div class=\"article\">\n        <h3>${article.title || 'No Title'}</h3>\n        <p>${article.description || 'No description available.'}</p>\n        <p><a href=\"${article.url}\" target=\"_blank\">Read full article →</a></p>\n      </div>\n    `;\n  }\n}\n\n/**\n * Render Tech News\n */\nif (techArticles.length > 0) {\n  htmlBody += '<h2 class=\"category\">💻 Technology News</h2>';\n  for (const article of techArticles.slice(0, 5)) {\n    htmlBody += `\n      <div class=\"article\">\n        <h3>${article.title || 'No Title'}</h3>\n        <p>${article.description || 'No description available.'}</p>\n        <p><a href=\"${article.url}\" target=\"_blank\">Read full article →</a></p>\n      </div>\n    `;\n  }\n}\n\nhtmlBody += `\n<hr>\n<p style=\"font-size:12px;color:#777;\">\nThis email was sent automatically using n8n.\n</p>\n</body></html>\n`;\n\nreturn [{ json: { htmlBody } }];"
      },
      "id": "b9f4b3f6-51db-4b57-afb2-a5c7314f6546",
      "name": "Format Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "sendTo": "pmdange99@gmail.com",
        "subject": "Daily Sports & Tech News",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "3a9164d7-696b-405f-830e-0171bf840679",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        496,
        352
      ],
      "webhookId": "45a88bf1-790a-4de7-83a3-a61e35cc788b",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZsQfu2f8T9bxCn7O",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger at 8 AM IST": {
      "main": [
        [
          {
            "node": "Fetch Sports News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Tech News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge News Results": {
      "main": [
        [
          {
            "node": "Format Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email Content": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sports News": {
      "main": [
        [
          {
            "node": "Merge News Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tech News": {
      "main": [
        [
          {
            "node": "Merge News Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "34a1c63e-5abb-472c-aab7-26ce715b8de0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8990741f0c5ebb792827d89f3f40d0f4a0ea23be46397143edac2b2b8b763e6f"
  },
  "id": "y0szmhyqA4HlMyRC",
  "tags": []
}
